.sorting-dropdown {
    margin: 20px;
}
  
.sorting-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background-color: white;
    color: black;
}